html {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent; 
}

body {
	background-color: #C8C6AF;
}
#board {
	padding-top: 200px;
	width: 600px;
	height: 600px;
	float: none;
	margin: auto;

}
.cell {
	float: left;
	width: 198px;
	height: 199px;
	border-right: 3px solid #FFF;
	border-bottom: 3px solid #FFF;
	font-size: 200px;
	text-align: center;
	transition: background-color 1s ease;
	transition: color 1s ease;
}
.cell:hover {
	background-color: #FFF;
	color: #b99d6b;
}
.cell:nth-of-type(3n) {
	border-right: 0px;
}
.cell:nth-of-type(7),
.cell:nth-of-type(8),
.cell:nth-of-type(9) {
	border-bottom: 0px;
}
dialog {
	width: 500px;
	background:#e8e8e8;
	border: 1px solid #dadada;
	font-family:sans-serif;
	padding: 5px 10px 20px 20px;
}